.espacioAdmin{
    height: 100%;
    width: 100%;
    display: flex;

}
.espacioMenuAdmin{
    height: 100%;
    width: 20%;
    padding: 5px ;
}
.espacioTrabajoAdmin{
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100%;
    width: 80%;
    overflow: hidden;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    /* From https://css.glass */

}
/* .imagenpresentation{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    
    object-fit: contain;
    object-position: center;
    display: block;
} */