.buttonContainer{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#008542;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
/* .buttonContainer :hover {
    background: #d5f365;
    color: black;
    
} */
