.buttonContainer{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color:#008542;
    border-radius: 10px;
    margin-bottom: 5px;
    
}
