.loteContainer{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.46);
    color: black;
}
.lotesForm{
    width: 250px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.46);
    border-radius: 10px;
}
.lotesForm label{
    width: 100%;
}