.medContainer{
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.46);
    color: black;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,td{
    border:1px solid #dddd;
    text-align: left;
    padding: 8px;
}
.medicForm{
    width: 250px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.46);
    border-radius: 10px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px); */
    /* border: 1px solid rgba(255, 255, 255, 0.767);/// */
}