.navbar{
    height: 10%;
    color: white;
    display: flex;
}
.icono{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonLogout{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.espacioDeNavbar{
    width: 60%;
}