.navbar{
    height: 10%;
    color: white;
    display: flex;
background: rgba(255, 255, 255, 0.46);
border-radius: 5px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
/* backdrop-filter: blur(4.2px);
-webkit-backdrop-filter: blur(4.2px);
border: 1px solid rgba(255, 255, 255, 0.23); */
}
.icono{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonLogout{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.espacioDeNavbar{
    width: 60%;
}