.tablaPersonal{
    height: 100%;
    width: 100%;
    color: white;
    background: rgba(255, 255, 255, 0.46);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.7px);
-webkit-backdrop-filter: blur(7.7px);
border: 1px solid rgba(255, 255, 255, 0.767);


}
.contenedorTabla{
    color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.65);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.7px);
-webkit-backdrop-filter: blur(4.7px);
/* border: 1px solid rgba(255, 255, 255, 0.3); */
}
.listaPersonal{
    width: 100%;
    margin: 5px ;
    color: black;
    border: 1px solid black !important;
}
.listaPersonal table, th, td{
    border: 1px solid black !important;
}

