/* .tablaProduccion{
    background-color: #f0f0f0;
}
.tablaProduccion .selccionado:hover{
    background-color: #e0e0e0;
}
.tablaProduccion .seleccionado{
    border-bottom: 2px solid #ccc;
}
.formEdicion{
    background-color: #0fa517;
} */