.tablaProduccion {
    border: 1px solid black !important;
    background: rgba(255, 255, 255, 0.46);
    padding: 10px;
}

.menuTablaProd{
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-around;
    /* padding: 10px; */
}
.menuTablaProd >div{
    flex:1;
    margin: 1px;
}
.menuTablaProd button{
    width: 100%;
    height: 40px;
    align-items: center;
    font-size: 18px;
    color: #fff;
    /* border: ; */
    /* border-radius: 18px; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
}

.menuTablaProd button:hover{
    background-color: #563e8e;
}
